product/priv-app/Velvet/Velvet.apk
system_ext/priv-app/Settings/Settings.apk
boot.img
.git/objects/pack/pack-3ac6722ac4afee52254fa96e7ba7f923d51e24ce.pack
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/data-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/apex/com.android.vndk.current.apex
